ITEM_ID_FIELD: recipe_id
TIME_FIELD: timestamp           # (str) Field name of timestamp feature.
epochs: 100                     # (int) The number of epochs to train the model.

user_inter_num_interval: "[5,inf)"
item_inter_num_interval: "[5,inf)"

# data preprocessing for knowledge graph triples
kg_reverse_r: False
entity_kg_num_interval: "[10,inf)"
user_entity_kg_num_interval: "[2,inf)"
relation_kg_num_interval: "[1,inf)"
dataset: hummus

valid_metric: ndcg@10
eval_args:                      # (dict) 4 keys: group_by, order, split, and mode
  split: {'RS':[0.7,0.1,0.2]}   # (dict) The splitting strategy ranging in ['RS','LS'].
  group_by: user                # (str) The grouping strategy ranging in ['user', 'none'].
  order: TO                     # (str) The ordering strategy ranging in ['RO', 'TO'].
  mode: full

load_col: 
    inter: ['user_id', 'recipe_id', 'rating', 'timestamp']
    kg: ['head_id', 'relation_id', 'tail_id']
    user_link: ['user_id', 'entity_id']
    item_link: ['recipe_id', 'entity_id']
    link: ['recipe_id', 'entity_id']
  